@(clients: List[models.Client])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Clients") {
    <p>
        <a href="@routes.ClientsController.newClient" class="btn btn-success">New Client</a>
    </p>
    <h2>Client List</h2>
    <ul>
        @if(clients.isEmpty()){
            <li> No clients to display - get some in your mongo db!</li>
        } else {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Client Name</th>
                <th>Action</th>
            </tr>
            </thead>
            @for(client <- clients) {
            <tbody>
            <tr>
                <td>@client.name</td>
                <td>
                    |
                    <a href="@routes.ClientsController.edit(client.id)">Edit</a>
                    |
                    <a href="@routes.ClientsController.show(client.id)">Show</a>
                    |
                    <a href="@routes.ClientsController.delete(client.id)">Delete</a>
                    |
                </td>
            </tbody>
            }
        }
        </table>
    </ul>
<p>
    <a href="@routes.HomeController.index()">Back to HomePage</a>
</p>
}