@(clients: List[models.Client])
@main(Messages("client.index")) {
    <p>
        <a href="@routes.ClientsController.newClient" class="btn btn-success">@Messages("client.new")</a>
    </p>
    @if(clients.isEmpty()){
        <p>@Messages("common.noRecords")</p>
    } else {
    <table class="table table-striped">
        <thead>
        <tr>
            <th>@Messages("client.attributes.name")</th>
            <th>@Messages("common.actions")</th>
        </tr>
        </thead>
        <tbody>
        @for(client <- clients) {
            <tr>
                <td>@client.name</td>
                <td>
                    |
                    <a href="@routes.ClientsController.edit(client.id)">@Messages("common.edit")</a>
                    |
                    <a href="@routes.ClientsController.show(client.id)">@Messages("common.show")</a>
                    |
                    <a href="@routes.ClientsController.delete(client.id)">@Messages("common.delete")</a>
                    |
                </td>
            </tr>
        }
        </tbody>
    }
    </table>
    <p>
        <a href="@routes.HomeController.index()">Back to HomePage</a>
    </p>
}
