@(clients: List[models.Client])(searchText: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Clients") {
    <p>
        <a href="@routes.ClientsController.newClient" class="btn btn-success">New Client</a>
    </p>
    <form class="form-inline" action="@routes.ClientsController.index()" method="GET">
        <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" id="search" placeholder="Search for a Client..." name="search" value="@searchText">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    @if(clients.isEmpty()){
        <p>No clients to display.</p>
    } else {
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for(client <- clients) {
                    <tr>
                        <td>@client.name</td>
                        <td>
                            |
                            <a href="@routes.ClientsController.edit(client.id)">Edit</a>
                            |
                            <a href="@routes.ClientsController.show(client.id)">Show</a>
                            |
                            <a href="@routes.ClientsController.delete(client.id)">Delete</a>
                            |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <p>
        <a href="@routes.HomeController.index()">Back to Home Page</a>
    </p>
}