@(clients: List[models.Client])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <h1>Showing clients!</h1>
    <ul>
        @if(clients.isEmpty()){
            <li> No clients to display - get some in your mongo db!</li>
        } else {
            @for(client <- clients) {
                <li>@client.name</li>
            }
        }
    </ul>
}
