@(form: Form[models.Site])
@main("New Site") {

    @if(form.hasGlobalErrors) {
        <p class="panel panel-danger">
            @for(error <- form.globalErrors) {
                <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
            }
        </p>
    }

    @helper.form(action = routes.SitesController.create(), 'class -> "form") {
        @helper.inputText(form("name"), '_label -> "Name: ", 'class -> "form-control")
        @helper.textarea(form("description"), '_label -> "Description: ", 'class -> "form-control")
        <button type="submit" class="btn btn-primary">Save</button>
    }
}
